DB_HOST=db
DB_PORT=3306
DB_NAME=db_portafolios_tis
DB_USER=root
DB_PASSWORD=root123

BREVO_KEY=TU_CLAVE_REAL_DE_BREVO
BREVO_EMAIL=202103868@est.umss.edu
URL_FRONT=http://localhost:5173

JWT_SECRET=una_clave_secreta_muy_larga_y_segura_para_local
PORT=8081

VITE_API_URL=https://teamsys.apps.cs.umss.edu.bo/api